@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
  background: #F2F2F2;
}

h1 {
  font-weight: 900;
  font-size: 30pt;
  color: #2F4858;
  margin: 0px;
  margin-top: 20px;
}

h2 {
  font-weight: 900;
  font-size: 20pt;
  color: #2F4858;
}

.container {
  display: block;
  max-width: 700px;
  padding: 20px 15px;
  margin: auto;
  text-align: center;
}

.pass-generator, .pass-options {
  border-radius: 10px;
  background: white;
  border: 1px solid #EEE;
  box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.controls {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.controls .pass {
  font-size: 25pt;
  display: block;
  text-align: left;
  flex-grow: 1;
}

.controls a {
  padding: 10px;
}

.controls img {
  max-width: 25px;
}

.security-range {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background: #F7F7F7;
  position: relative;
}

.pass-security {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0%;
  background: #2ecc71;
  border-radius: 30px;
  transition: all 0.5s;
}

.pass-security.alert {
  background-color: #f1c40f;
}

.pass-security.danger {
  background-color: #c0392b;
}

.pass-options .options {
  padding: 20px;
}

.controls .refresh {
  transition: transform 0.1s;
}

.controls .refresh.active {
  animation: rotating 0.5s ease-in-out;
}

.controls .copy {
  transition: transform 0.5s;
}

.controls .copy:active {
  transform: scale(0.8);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.character-limit input {
  font-size: 14pt;
  padding: 10px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.two-columns label {
  flex-grow: 1;
  min-width: 50%;
  padding: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12pt;
}

.two-columns input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.notification {
  position: fixed;
  bottom: -100%;
  left: 50%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #EEE;
  font-size: 14pt;
  font-weight: bold;
  transform: translate(-50%,0);
  box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.05);
  border-bottom: 2px solid #2ecc71;
  opacity: 0;
  transform: all 0.5s;
}